{% extends "base_generic.html" %}
{% load static %}

{% block estilos_propios %}
<link rel="stylesheet" href="{% static 'css/estilos_index.css' %}">
{% endblock %}

{% block banner %}
<h1 id="banner-pagina">
    <div class="contenedor-titulo">
        <div class="titulo">VICEMINISTERIO DE COMERCIO INTERNO</div>
        <div class="subtitulo">El portal del comercio, logística, exportaciones e industria</div>
    </div>
    <div id="contenedor-slides">
        <div class="slider-item">
            <picture>
                <source media="(min-width: 720px)" srcset="{% static 'images/imagen1_quinua.jpg' %}">
                <source media="(max-width: 719px)" srcset="{% static 'images/blank.gif' %}" sizes="100%">
                <img src="{% static 'images/imagen1_quinua.jpg' %}" alt="slide-quinua">
            </picture>
        </div>
        <div class="slider-item">
            <picture>
                <source media="(min-width: 720px)" srcset="{% static 'images/imagen2_castaña.jpg' %}">
                <source media="(max-width: 719px)" srcset="{% static 'images/blank.gif' %}" sizes="100%">
                <img src="{% static 'images/imagen2_castaña.jpg' %}" alt="slider-castana">
            </picture>
        </div>
        <div class="slider-item">
            <picture>
                <source media="(min-width: 720px)" srcset="{% static 'images/imagen3_cafe.webp' %}">
                <source media="(max-width: 719px)" srcset="{% static 'images/blank.gif' %}" sizes="100%">
                <img src="{% static 'images/imagen3_cafe.webp' %}" alt="slider-cafe">
            </picture>
        </div>
        <div class="slider-item">
            <picture>
                <source media="(min-width: 720px)" srcset="{% static 'images/imagen4_motoyoe.jpg' %}">
                <source media="(max-width: 719px)" srcset="{% static 'images/blank.gif' %}" sizes="100%">
                <img src="{% static 'images/imagen4_motoyoe.jpg' %}" alt="slide-motoyoe">
            </picture>
        </div>
        <div id="background"></div>
    </div>

    <div class="contenedor-logos">
        <img id="logo-ministerio" src="{% static 'images/ministerio_logo.png' %}" alt="logo-ministerio">
        <img id="logo-pais" src="{% static 'images/bolivia_logo.png' %}" alt="logo-pais">
    </div>
</h1>
{% endblock %}

{% block contenido %}
<div class="modal" id="modal">
    <div class="modal-backdrop" id="close-ext"></div>
    <div class="modal-body">
        <button class="modal-close" id="close">
            <span class="sr-only">cerrar</span>
        </button>
        <a class="modal-noticia" href="{{ noticia.enlace }}" target="_blank" rel="noopener noreferrer">
            <picture>
                <source media="(min-width: 720px)" srcset="{{ MEDIA_URL }}{{ noticia.banner }}">
                <source media="(max-width: 719px)" srcset="{% static 'images/blank.gif' %}" sizes="100%">
                <img src="{{ MEDIA_URL }}{{ noticia.banner }}" alt="slide-quinua">
            </picture>
        </a>
    </div>
</div>
<div class="index-servicios" id="index-servicios">
    <h1>SERVICIOS DE AYUDA AL EXPORTADOR</h1>
    <div class="index-servicios-contenedor">
        {% for servicio in servicios %}

        <a class="index-servicios-celda" href="{{ servicio.enlace }}" style="background-color: {{ servicio.color }};">
            <h1>{{ servicio.nombre }}</h1>
            <div>
                <img src="{{ MEDIA_URL }}{{ servicio.icono }}" alt="{{ servicio.nombre }}">
                <p>{{ servicio.descripcion }}</p>
            </div>
            <span class="arrow"><span></span></span>
            <h2>INGRESAR</h2>
        </a>

        {% endfor %}
    </div>
</div>
<div class="index-libros" id="index-libros">
    {% for libro in libros %}
    <div class="index-libros-seccion" style="background-color: {{ libro.color }};">
        <a href="{{ MEDIA_URL }}{{ libro.archivo }}" target="_blank" rel="noopener noreferrer">
            <img src="{{ MEDIA_URL }}{{ libro.portada }}">
        </a>
        <div class="index-libros-explicacion">
            <h1>{{ libro.titulo }}</h1>
            <h2>{{ libro.subtitulo}}</h2>
            <p>{{ libro.descripcion }}</p>
        </div>
    </div>
    {% endfor %}
</div>
<div class="index-enlaces" id="index-enlaces">
    <h1>ENLACES</h1>
    <div class="index-enlaces-contenedor">
        {% for grupo in grupo_de_enlaces %}
        <div class="index-enlaces-item">
            <h2>{{ grupo.grupo }}</h2>
            <div class="index-enlaces-lista">
                {% for enlace in grupo.enlace_set.all %}
                <a href="{{ enlace.enlace_externo }}" target="_blank" rel="noopener noreferrer">{{ enlace.nombre }}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="index-entidades" id="index-entidades">
    <h1>ENTIDADES DEL MINISTERIO DE DESARROLLO PRODUCTIVO Y ECONOMÍA PLURAL</h1>
    <div class="contenedor-entidades">
        {% for entidad in entidades %}
        <a href="{{ entidad.enlace_externo }}">
            <img src="{{ MEDIA_URL }}{{ entidad.logo }}" alt="{{ entidad.nombre }}">
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts_propios %}
<!--PARA EL CLICK EN EL AREA DE ENLACES-->
<script>

    function enlacesResponsivos(x) {
        const items = document.querySelectorAll(".index-enlaces-item");
        if (x.matches) { // If media query matches                
            let holderViejo = items[0];
            holderViejo.classList.toggle('active');

            function toggleAccordion() {
                let holderNuevo = this;
                this.classList.toggle('active');
                holderViejo.classList.toggle('active');
                holderViejo = holderNuevo;
            }
            items.forEach(item => item.addEventListener('mouseover', toggleAccordion));
        } else {
            function extAccordion() {
                this.classList.toggle('extender');
            }
            items.forEach(item => item.addEventListener('click', extAccordion));
        }
    }

    var x = window.matchMedia("screen and (min-width: 70rem)")
    enlacesResponsivos(x) // Call listener function at run time
    x.addListener(enlacesResponsivos) // Attach listener function on state changes 

</script>

<script>
    "use strict"
    const slider = document.querySelector("#contenedor-slides");
    if (slider) {
        let e = slider.querySelectorAll(".slider-item");
        const t = e.length;
        let l, i = 0;
        const c = (l) => {
            0 == l
                ? (e[t - 1].classList.remove("show"),
                    e[t - 1].classList.add("close"))
                : (e[l - 1].classList.remove("show"),
                    e[l - 1].classList.add("close")),
                l == t - 1
                    ? e[0].classList.remove("close")
                    : e[l + 1].classList.remove("close"),
                e[l].classList.add("show");
        },
            r = (l) => {
                0 == l
                    ? (e[t - 1].classList.remove("show"),
                        e[t - 1].classList.add("close"))
                    : (e[l - 1].classList.remove("show"),
                        e[l - 1].classList.add("close")),
                    l == t - 1
                        ? e[0].classList.remove("close")
                        : e[l + 1].classList.remove("close"),
                    l < t - 1
                        ? (e[l + 1].classList.remove("show"))
                        : (e[0].classList.remove("show")),
                    e[l].classList.add("show");
            };
        function startSlideShow() {
            l = setInterval(() => {
                nextSliderImage();
            }, 6000);
        }
        function nextSliderImage() {
            i++, i == t && (i = 0), c(i), clearInterval(l), startSlideShow();
        }
        function previousSliderImage() {
            i--, -1 == i && (i = t - 1), r(i), clearInterval(l), startSlideShow();
        }
        c(i),
            startSlideShow();
    }
</script>

<script>
    "use strict"
    function storageAvailable(type) {
        var storage;
        try {
            storage = window[type];
            var x = '__storage_test__';
            storage.setItem(x, x);
            storage.removeItem(x);
            return true;
        }
        catch (e) {
            return e instanceof DOMException && (
                // everything except Firefox
                e.code === 22 ||
                // Firefox
                e.code === 1014 ||
                // test name field too, because code might not be present
                // everything except Firefox
                e.name === 'QuotaExceededError' ||
                // Firefox
                e.name === 'NS_ERROR_DOM_QUOTA_REACHED') &&
                // acknowledge QuotaExceededError only if there's something already stored
                (storage && storage.length !== 0);
        }
    }

    const titulo = document.querySelector(".contenedor-titulo");
    const logos = document.querySelector(".contenedor-logos");
    const modal_imagen = document.querySelector(".modal-body");
    const backdrop = document.querySelector(".modal-backdrop");
    const slides = document.querySelector("#contenedor-slides");
    const banner_bg = document.querySelector("#banner-pagina");


    const load = () => {
        if (storageAvailable('sessionStorage')) {
            var storage = window['sessionStorage'];
            if (storage && storage.length > 0) {
                modal_imagen.style.display = 'none';
            }
            else {
                sessionStorage.setItem('modal-mostrado', 'true');
                mostrar(modal_imagen);
                mostrar(backdrop);
            }

        }
        else {
            console.log("no hay local storage")
        }

    }


    setInterval(() => { mover(titulo); }, 1500);
    setInterval(() => { mover(logos); }, 3000);
    setInterval(() => { mover(banner_bg); }, 3800);
    setInterval(() => { mover(slides); }, 4000);

    window.onload = load;


    function mover(b) {
        b.classList.add("efecto");
    }

    function mostrar(e) {
        e.classList.add("mostrado");

        const button = document.getElementById('close');
        const cerrar = document.getElementById('close-ext');
        const modal = document.getElementById('modal');

        button.addEventListener('click', function (event) {
            event.preventDefault();
            modal.style.display = 'none';
        });

        cerrar.addEventListener('click', function (event) {
            event.preventDefault();
            modal.style.display = 'none';
        });
    }

</script>
{% endblock %}