{% extends "base_generic.html" %}
{% load static %}

{% block estilos_propios %}
<link rel="stylesheet" href="{% static 'css/estilos_guia.css' %}">
{% endblock %}

{% block contenido %}
<div class="index-libros" id="index-libros">
    <div class="index-libros-seccion" style="background-color: {{ guia.color }};">
        <a href="{{ MEDIA_URL }}{{ guia.archivo }}" target="_blank" rel="noopener noreferrer">
            <img src="{{ MEDIA_URL }}{{ guia.portada }}">
        </a>
        <div class="index-libros-explicacion">
            <h1>{{ guia.titulo }}</h1>
            <h2>{{ guia.subtitulo}}</h2>
            <p>{{ guia.descripcion }}</p>
        </div>
    </div>
</div>
{% endblock %}