{% extends "base_generic.html" %}
{% load static %}

{% block estilos_propios %}
<link rel="stylesheet" href="{% static 'css/estilos_proveedores_contacto.css' %}">
{% endblock %}

{% block contenido %}
<h1 class="titulo-principal-contenido">Directorio de proveedores</h1>

{% include "barra_paginas.html"%}

<div class="contenedor-tabla-directorio">
    <div class="grilla">
        {% for proveedor in pagina_actual %}
        <div class="celda-proveedor">
            <h2 title="{{ proveedor.razon_social }}">{{ proveedor.razon_social }}</h2>
            <div class="proveedor-nit">{{ proveedor.nit_ci }}</div>
            <div title="{{ proveedor.get_tipo_empresa_display }}" class="proveedor-tipo-empresa">{{ proveedor.get_tipo_empresa_display }}</div>
            <div title="{{ proveedor.get_tipo_societario_display }}" class="proveedor-tipo-societario">{{ proveedor.get_tipo_societario_display }}</div>
            <div title="{{ proveedor.nombre_contacto }}" class="proveedor-contacto">{{ proveedor.nombre_contacto }}</div>
            <div title="{{ proveedor.email_contacto }}" class="proveedor-email">{{ proveedor.email_contacto }}</div>
            <div class="numeros-contenedor">
                {% if proveedor.celular %}
                <div class="proveedor-celular">{{ proveedor.celular }}</div>
                {% else %}
                <div class="celular"></div>
                {% endif %}
                {% if proveedor.telefono %}
                <div class="proveedor-telefono">{{ proveedor.telefono }}</div>
                {% else %}
                <div class="telefono"></div>
                {% endif %}
                {% if proveedor.fax %}
                <div class="proveedor-fax">{{ proveedor.fax }}</div>
                {% else %}
                <div class="fax"></div>
                {% endif %} 
            </div>           
            <div title="{{ proveedor.municipio }}" class="proveedor-municipio">{{ proveedor.municipio }}</div>
            <div class="proveedor-departamento">{{ proveedor.municipio.departamento }}</div>
            <div title="{{ proveedor.zona }}" class="proveedor-zona">{{ proveedor.zona }}</div>
            <div title="{{ proveedor.domicilio }}" class="proveedor-domicilio">{{ proveedor.domicilio }}</div>
        </div>
        {% endfor %}
    </div>
</div>
</div>

{% include "barra_paginas.html"%}

{% endblock %}

