{% extends "base_generic.html" %}
{% load static %}

{% block estilos_propios %}
<link rel="stylesheet" href="{% static 'css/estilos_proveedores.css' %}">
{% endblock %}

{% block contenido %}
<h1 class="titulo-principal-contenido">Información sobre proveedores</h1>

<div class="barra-enlace" id="informacion-contacto">
    INFORMACIÓN DE CONTACTO
</div>

<div class="barra-enlace" id="empresas-proveedoras">
    EMPRESAS Y SU ACTIVIDAD COMERCIAL
</div>

<div class="barra-enlace" id="ruta-comercial">
    DEPARTAMENTOS, PAISES EXTRANJEROS Y RUTAS COMERCIALES
</div>

<div class="barra-enlace" id="sectores-comeciales">
    SECTORES COMERCIALES (CUODE)
</div>

<div class="barra-enlace" id="productos-individuales">
    PRODUCTOS INDIVIDUALES (NANDINA)
</div>

{% endblock %}