.barra-enlace {
    background-color: orange;
    width: 50%;
    margin: 2em auto;
    font-size: 2rem;
    padding: 1em;
    position: relative;
    display: inline-block;
}

.barra-enlace:after {
    position: absolute;
    z-index: -1;
    content: "";
    right: -10%;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: inherit;
    transform: skewX(-10deg);
}

.barra-enlace:before {
    z-index: -1;
    content: "";
    position: absolute;
    left: -10%;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: inherit;
    transform: skewX(-10deg);
}