.asesora-contenedor{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 1.8rem;
    width: 100%;
    font-family: var(--fuente-sans);
    justify-content: center;
    margin-bottom: 2em;
}

.texto-asesora,
.asesora-forma{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em 4em;
    min-width: 22em;
}

.preguntas{
    padding-left: 3em;
}

.datos-ubicacion{
    list-style: none;
}
.datos-ubicacion bold{
    font-weight: 700;
}

.asesora-forma{
    gap: 1em;
    padding: 1em 2em;
}

.asesora-forma textarea,
.asesora-forma input{
    height: 2.5em;
    width: 100%;
    border-radius: 1em;
    border-color: hsl(214, 80%, 80%);
    border-width: 1px;
    padding: 0 1em;
}

@media screen and (min-width: 70rem) {
    .asesora-forma textarea,
    .asesora-forma input{
        width: 80%;    
    }
}

.asesora-forma textarea{
    height: 10em;
    font-family: inherit;
    resize: none;
    overflow-y: scroll;
    padding: .5em 1em;
}

#boton-enviar{
    background-color: var(--color-dark-letra);
    color: white;
    border-radius: 0;
}
#boton-enviar:hover{
    background-color: hsl(198, 100%, 27%);
}
