.contenido{
    text-align: justify;
    font-size: 1.8rem;
    padding: 0 3em;
    padding-bottom: 3em;  
}

.fideicomiso-contenedor{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2em;
    justify-self: center;
    margin-top: 2em;
}

@media screen and (min-width: 70rem) {
    .fideicomiso-contenedor{
        flex-direction: row;
    }
}

bold{
    font-weight: 600;
}

.fid1{
    flex: 3;
}

.fid2{
    flex: 2;
}

.fid1>h1{
    font-size: 2rem;
    background-color: var(--color-dark-letra);
    padding:0.6em 0 0.5em 1em;
    color: white;
    width: 100%;
    font-weight: 100;
    margin-bottom: 1em;
}

@media screen and (min-width: 70rem) {
    .fid1>h1{
        width: 50%;
    }
    .fid2{
        padding-top: 3em;
    }
}
