.contenido{
    padding: 0 1em;
    font-size: 2rem;
}

.contenido>text{
    text-align: justify;
}

.contenido>h1{
    text-align: left;
    margin-bottom: 1em;
}

.contenido>h2{
    background-color: var(--color-dark-letra);
    color: white;
    padding: 1em;
    margin: 2em auto;
    width: 80%;
    text-align: center;
    font-size: 2.2rem;
}

.sprocon-anuncio{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 3em;
}

.sprocon-descripcion{
    text-align: justify;
    justify-self: center;
    flex: 3;
}

.sprocon-descripcion>img{
    float: left;
    width: 100%;
    margin-right: 1em;
    margin-bottom: 1em;
}

.sprocon-contacto{
    flex: 1;
    font-size: 1.6rem;
    text-align: right;
}

.sprocon-contacto>ul{
    list-style: none;
}
.sprocon-contacto>ul li {
    position: relative;
    padding-bottom: .5em;
}

.sprocon-contacto>h2{
    font-size: 2rem;
}

@media screen and (min-width: 70rem) {
    .sprocon-anuncio{
        flex-direction: row;
    }
    .contenido{
        padding: 0 5em;
    }
    .sprocon-descripcion>img{
        width: 40%;
    }
}