:root {
    box-sizing: border-box;
    font-size: 10px;
}

html {
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    --fuente-serif: 'Open Sans', "Lucida Sans", "Lucida Grande", Lucida, serif;
    /*--fuente-serif: 'PT Serif', "Lucida Sans", "Lucida Grande", Lucida, serif;*/
    --fuente-sans: 'PT Sans', "Lucida Sans", "Lucida Grande", Lucida, sans-serif;
    --color-dark-letra: hsl(198, 100%, 17%);
    --color-fondo-claro: hsl(0, 0%, 95%);
    background-image: url("../images/textura.jpg");
    font-family: var(--fuente-serif);
    color: var(--color-dark-letra);
}

img {
    width: 100%;
}

.contenedor {
    max-width: 140rem;
    margin: 0 auto;
    background-color: var(--color-fondo-claro);
    padding-top: 0;
    box-shadow: 3px 0px 3px 1px hsla(0, 0%, 0%, 0.2);
}

.contenedor>* {
    max-width: inherit;
}

.titulo-principal-contenido {
    font-size: 2.3rem;
    text-align: center;
    padding: 2em 0;
}

/*=================
 MENU DE NAVEGACION
==================*/

.menu-navegacion-mobil {
    display: grid;
    background-color: black;
    color: white;
    align-items: center;
    justify-items: right;
    font-family: var(--fuente-sans);
    font-size: 1rem;
    padding: .7em 4em;
}

.menu-navegacion-mobil>h1 {
    position: relative;
    font-weight: 400;
}

.menu-navegacion-mobil>h1::after {
    position: absolute;
    content: '';
    background-image: url(../images/burger.svg);
    right: -1.5em;
    top: .3em;
    height: .9em;
    width: .9em;
    filter: invert(1);
}

.menu-navegacion {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 3;
    background-color: var(--color-fondo-claro);
    padding: 1em;
    height: 100vh;
    gap: .8em;
    overflow-y: scroll;
    width: 24em;
    visibility: hidden;
    transform: translateX(-24em);
    transition: transform .3s ease-out;
}

.menu-navegacion>div {
    margin-bottom: 1.2em;
    font-size: 1.3rem;
}

.menu-navegacion.open {
    visibility: visible;
    transform: translateX(0);
}

.menu-navegacion-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    visibility: hidden;
    transition: background-color .3s ease-out;
}

.menu-navegacion-backdrop.open {
    visibility: visible;
    background-color: hsla(0, 0%, 0%, 0.5);
}

.menu-navegacion a, .navegador-label {
    display: block;
    color: inherit;
    font-size: 1.3rem;
    font-weight: 500;
}

.navegador-menu a>h2 {
    color: var(--color-dark-letra);
    font-weight: 600;
    font-size: inherit;
    letter-spacing: 1px;
    text-shadow: .5px .5px white;
    padding-left: 2em;
}

.navegador-menu a>h3, .menu-navegacion input[type=text], .menu-navegacion button {
    display: none;
}

@media screen and (min-width: 70rem) {
    .menu-navegacion-backdrop {
        display: none;
    }
    /* https://stackoverflow.com/questions/5873565/set-width-of-a-position-fixed-div-relative-to-parent-div */
    .menu-navegacion {
        width: 100%;
        max-width: 140rem;
        position: fixed;
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: repeat(7, minmax(5em, 1fr)) auto auto;
        height: 4em;
        grid-template-areas: "nav-ini nav-inst nav-serv nav-info nav-logi nav-tram nav-asesora nav-busqueda nav-boton";
        align-items: center;
        text-align: center;
        justify-items: center;
        background-color: var(--color-fondo-claro);
        gap: 0;
        overflow-y: visible;
        font-family: var(--fuente-sans);
        z-index: 2;
        padding: 0;
        box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.2);
        visibility: visible;
        transform: translateX(0);
    }
    .menu-navegacion>div {
        margin-bottom: 0;
        font-size: inherit;
    }
    .sticky {
        transform: translateY(-5em);
        transition: transform .3s ease-out;
    }
    .efecto {
        transform: translateY(0);
    }
    /*
    .efecto-abajo{
        transform: translateY(-3em);
    }*/
    @media screen and (min-width: 88.5rem) {
        .menu-navegacion {
            left: calc(50% - 70rem);
        }
    }
    .menu-navegacion a, .navegador-label {
        font-size: 1.6rem;
    }
    .menu-navegacion a {
        text-decoration: none;
    }
    .navegador-label {
        text-decoration: none;
        border-bottom: .2em solid transparent;
        transition: border-bottom .2s ease-in-out;
    }
    #navegador-servicios .navegador-label, .navegador-seccion:hover .navegador-label {
        border-bottom: .2em solid var(--color-dark-letra);
    }
    .navegador-flecha {
        position: relative;
    }
    .navegador-flecha::after {
        content: "";
        position: absolute;
        right: -1em;
        bottom: 0.3em;
        background-image: url("../images/arrow.svg");
        width: .7em;
        height: .7em;
        transform: rotate(90deg);
        filter: invert(20%) sepia(8%) saturate(6985%) hue-rotate(159deg) brightness(100%) contrast(107%);
    }
    .navegador-seccion {
        position: relative;
        padding: .75em 0;
    }
    .navegador-menu {
        position: absolute;
        visibility: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style: none;
        text-align: left;
        width: 520%;
        top: 100%;
        left: -1em;
        border-radius: 0 .5em .5em .5em;
        background-color: white;
        transform-origin: top center;
        opacity: 0;
        transition: opacity .2s ease-in-out;
        transition-delay: 150ms;
    }
    @media screen and (min-width: 88.5rem) {
        .navegador-menu {
            width: 690%;
        }
    }
    .navegador-seccion:hover .navegador-menu {
        opacity: .95;
    }
    .navegador-menu>a {
        opacity: 0;
        transform: translateY(-.5em);
        transition: opacity .4s ease-in-out, transform .4s ease-in-out;
        transition-delay: 60ms;
        padding: .3em .6em;
    }
    .navegador-menu>a:nth-child(odd) {
        border-right: 1px solid hsl(0, 0%, 90%);
    }
    .navegador-menu>a:last-child {
        padding-bottom: 1em;
    }
    .navegador-seccion:hover .navegador-menu>a {
        opacity: 1;
        transform: translateY(0);
    }
    .navegador-menu>a:hover {
        background-color: hsl(0, 0%, 90%);
    }
    .navegador-seccion:hover .navegador-menu {
        visibility: visible;
    }
    .menu-navegacion input[type=text] {
        display: block;
        padding: 0.5em;
        border: none;
        font-size: inherit;
        justify-self: right;
        margin-left: 1em;
        width: 15em;
    }
    @media screen and (min-width: 88.5rem) {
        .menu-navegacion input[type=text] {
            margin-left: 10em;
        }
    }
    .navegador-menu a>h2 {
        padding-left: 0;
    }
    .navegador-menu a>h3 {
        display: block;
        font-weight: 400;
        font-size: 1.3rem;
        color: gray;
    }
    .menu-navegacion button {
        display: block;
        width: 2.7em;
        background: hsl(207, 90%, 45%);
        padding: 0.4em;
        color: white;
        font-size: inherit;
        border: 1px solid blue;
        cursor: pointer;
    }
    .menu-navegacion button:hover {
        background: hsl(207, 90%, 55%);
    }
    #navegador-inicio {
        grid-area: nav-ini;
    }
    #navegador-institucion {
        grid-area: nav-inst;
    }
    #navegador-servicios {
        grid-area: nav-serv;
    }
    #navegador-informacion {
        grid-area: nav-info;
    }
    #navegador-logistica {
        grid-area: nav-logi;
    }
    #navegador-tramites {
        grid-area: nav-tram;
    }
    #navegador-asesora {
        grid-area: nav-asesora;
    }
    #menu-navegacion input {
        grid-area: nav-busqueda;
    }
    #menu-navegacion button {
        grid-area: nav-boton;
    }
}

/*=================
BANNER DE LA PAGINA
==================*/

#banner-pagina {
    justify-content: space-between;
    height: 10em;    
    position: relative;
    margin-bottom: 1em;
}

#banner-pagina .titulo {
    font-family: var(--fuente-serif);
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: -.5px;
    line-height: 1em;   
    text-align: center;
    padding-top: .5em; 
}

#banner-pagina .titulo, #banner-pagina .subtitulo {
    text-shadow: 0 1px 1px  white;
    color: var(--color-dark-letra);
}

#banner-pagina .subtitulo {
    display: none;
}

#banner-pagina>div {
    padding-left: .5em;
    padding-top: .6em;
    height: 100%;
    width: 100%;
}

#logo-pais, #logo-ministerio {
    position: absolute;
    background-size: cover;
    height: 6em;
    width: 6em;
    border: 2px solid hsl(0, 0%, 90%);
    border-radius: 50%;
    bottom: -2em;
    filter: sepia(.2);
    box-shadow: 1px 1px 2px 1px hsla(0, 0%, 0%, 0.2);
}

#logo-pais {
    right: 1em;
}

#logo-ministerio {
    right: 8em;
}

@media screen and (min-width: 70rem) {
    #banner-pagina{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 80%, var(--color-fondo-claro) 100%), url("../images/imagen1_quinua.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 0;
    }
    #banner-pagina .titulo {
        font-size: 4rem;
        line-height: .9em;
        text-align: unset;       
    }
    #banner-pagina .titulo, #banner-pagina .subtitulo {
        text-shadow: 0 1px 1px  hsl(234, 60%, 10%);
        color: hsl(234, 60%, 100%);
    }
    
    #banner-pagina .subtitulo {
        display: block;
        font-family: var(--fuente-sans);
        font-size: 2.4rem;
        letter-spacing: -.1px;
    }
    #banner-pagina>div {
        padding-left: 2em;
        padding-top: 1.3em;
    }
    #logo-pais, #logo-ministerio {
        height: 7em;
        width: 7em;
        bottom: -3.5em;
    }
    #logo-ministerio {
        right: 9em;
    }
}

/*================
 redes sociales
===============*/

.icon-bar {
    --icon-bar-escala: 1vh;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 1%;
    left: 5%;
    width: calc(25*var(--icon-bar-escala));
    height: auto;
    justify-content: space-between;
    z-index: 2;
    background-color: transparent;
}

@media screen and (min-width: 70rem) {
    .icon-bar {
        flex-direction: column;
        bottom: unset;
        top: 60%;
        left: 1%;
        height: calc(25*var(--icon-bar-escala));
        width: auto;
    }
}

.icon-bar a {
    position: relative;
    display: block;
    height: calc(5*var(--icon-bar-escala));
    width: calc(5*var(--icon-bar-escala));
    border-radius: 50%;
    background-color: hsla(0, 0%, 0%, 0.2);
    box-shadow: 1px 1px 0px 0px hsla(0, 0%, 0%, 0.3);
}

.icon-bar a>img {
    position: absolute;
    top: var(--icon-bar-escala);
    left: var(--icon-bar-escala);
    width: calc(3*var(--icon-bar-escala));
    height: calc(3*var(--icon-bar-escala));
    filter: invert(.9);
}

.icon-bar a:hover img {
    filter: invert(100%);
}

.Facebook:hover {
    background: hsla(221, 44%, 41%, 0.9);
}

.Twitter:hover {
    background: hsla(206, 82%, 63%, 0.9);
}

.Whatsapp:hover {
    background: hsla(132, 78%, 47%, 0.9);
}

.Youtube:hover {
    background: hsla(0, 100%, 37%, 0.9);
}

/*==============
    FOOTER
===============*/

footer {
    padding: 2em 2em;
    background-color: hsl(0, 0%, 90%);
    box-shadow: 0px 2px 2px inset hsla(0, 0%, 0%, 0.2);
}

@media screen and (min-width: 70rem) {
    footer {
        padding: 2em 5em;
    }
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-info>* {
    margin-bottom: 2em;
}

.footer-info>img {
    max-width: 17em;
    max-height: 17em;
    border-radius: 50%;
}

#copyright>div {
    text-align: right;
    font-size: 1.1rem;
}

.footer-contacto {
    padding: 1em;
}

.footer-contacto>h2 {
    font-size: 1.6rem;
}

.footer-contacto ul {
    list-style: none;
    padding: .9em 0;
    font-size: 1.6rem;
}

.footer-contacto ul>li>bold {
    font-weight: 700;
}

.footer-contacto-redes img {
    width: 2.5em;
    height: 2.5em;
    filter: invert(19%) sepia(38%) saturate(1552%) hue-rotate(159deg) brightness(94%) contrast(103%);
    /*PARA SACAR EL COLOR ADECUADO USANDO FILTER: https://codepen.io/sosuke/pen/Pjoqqp */
}

.footer-contacto-redes img:hover {
    filter: invert(20%) sepia(63%) saturate(2892%) hue-rotate(178deg) brightness(97%) contrast(103%);
}

.footer-esquema {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 4em 0;
    font-size: 1.3rem;
    width: 80%;
    margin: auto;
    font-family: var(--fuente-sans);
}

.footer-esquema-lista {
    margin-bottom: 2em;
    margin-right: 3em;
}

@media screen and (min-width: 70rem) {
    .footer-esquema {
        justify-content: space-around;
        width: 60%;
        padding: 2em 0;
    }
    .footer-esquema-lista {
        margin-right: 0;
        margin-bottom: 0;
    }
}

#footer-esquema-lista-cabeza>ul {
    padding-left: 0;
}

#footer-esquema-lista-cabeza a::before {
    content: '';
}

.footer-esquema-lista>h2 {
    padding-bottom: .5em;
    font-size: 1.2rem;
}

.footer-esquema-lista>ul {
    display: flex;
    flex-direction: column;
}

.footer-esquema-lista a {
    color: inherit;
    text-decoration: none;
}

.footer-esquema-lista a:hover {
    text-decoration: underline;
}

.footer-esquema-lista a::before {
    content: "\00BB \0020";
    font-size: 1.6rem;
}

#iconos-copyright, #iconos-copyright>a {
    color: var(--color-fondo-claro);
}

/*modal NOTICIA IMPORTANTE*/

.modal {
    display: none;
}

@media screen and (min-width: 70rem) {

    .modal.mostrado{
        display: block;
    }

    .modal-body {
        position: fixed;
        top: 10%;
        right: 10%;
        left: 10%;
        background-color: white;
        overflow: auto;
        z-index: 4;
        border: 3px solid hsl(0, 0%, 50%);
        border-radius: .5em;
        opacity: 0;
        transform: translateY(-30em);
        transition: opacity .2s ease-in, transform .2s ease-in;
    }

    .modal-body.mostrado {
        opacity: 1;
        transform: translateY(0);
    }

    .modal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: hsla(0, 0%, 0%, 0.5);
        z-index: 3;
        opacity: 0;
        transition: opacity .2s ease-in;
    }
    .modal-backdrop.mostrado {
        opacity: 1;
    }
    .modal-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.3em;
        font-size: 2em;
        height: 1.5em;
        width: 1.5em;
        cursor: pointer;
        border: 0;
    }
    .modal-close::before {
        display: block;
        content: '\00D7';
    }
    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
    }
}