{% extends "base_generic.html" %}
{% load static %}

{% block estilos_propios %}
<link rel="stylesheet" href="{% static 'css/estilos_asesora.css' %}">
{% endblock %}

{% block contenido %}
<h1 class="titulo-principal-contenido">VCI te asesora</h1>
<div class="asesora-contenedor">
    <div class="texto-asesora">
        <p>Bienvenido al portal de Asesoramiento del Viceministerio de Comercio Interno, mediante este medio,
            usted empresa exportadora, puede realizar consultas referidas a:</p>
        <ul class="preguntas">
            <li>¿Qué es el régimen RITEX?</li>
            <li>¿Qué es un FIDECOMISO?</li>
            <li>¿Qué es la devolución del Gravamen arancelario (GA)?</li>
            <li>¿Qué es el registro de importadores?</li>
            <li>¿Cómo obtengo datos de Exportaciones e Importaciones?</li>
        </ul>
        <ul class="datos-ubicacion">
            <li>Oficina Central - La Paz</li>
            <li>Av. Camacho Nro 1488, Edificio Ex-Refo</li>
            <li>
                <bold>Teléfono: </bold>77796069
            </li>
            <li>
                <bold>Fax: </bold>2372057
            </li>
            <li>
                <bold>Email: </bold>vci.te.asesora@gmail.com
            </li>
        </ul>
    </div>

    {% block gracias %}
    <form class="asesora-forma" action="" method="post">
        {% csrf_token %}
        {{ formulario }}
        <input id="boton-enviar" type="submit" value="Enviar" />
    </form>
    {% endblock %}
</div>
{% endblock %}