{% extends "base_generic.html" %}
{% load static %}

{% block estilos_propios %}
<link rel="stylesheet" href="{% static 'css/estilos_institucional.css' %}">
{% endblock %}

{% block contenido %}
<h1 class="titulo-principal-contenido">VICEMINISTERIO DE COMERCIO INTERNO</h1>
<h2 class="insti-sub">VISIÓN ESTRATEGICA</h2>
<div class="vision-estrategica">    
    <div id="quien">
        <h2>¿Quienes somos?</h2>
        <p>{{ quienes.contenido }}</p>
    </div>
    <div id="mision">
        <h2>Mision</h2>
        <p>{{ mision.contenido }}</p>
    </div>
    <div id="objetivos">
        <h2>Objetivos</h2>
        <p>{{ objetivos.contenido|linebreaks }}</p>
    </div>
</div>
<h2 class="insti-sub">EXPLICACIÓN DE LA ESTRUCTURA DEL VICEMINISTERIO</h2>
<div id="organizacion">    
    <p>{{ organizacion.contenido|linebreaks }}</p>
</div>


<h2 class="titulo-organigrama">Organización</h2>
<div class="contenedor-perfiles seccion1">
    {% for funcionario in funcionarios1 %}
    <div class="perfil">
        <img src="{{ MEDIA_URL }}{{ funcionario.foto }}" />
        <h3>{{ funcionario.cargo }}</h3>
        <div class="nombre">{{ funcionario.nombre_completo }}</div>
    </div>
    {% endfor %}
</div>
<hr />
<div class="contenedor-perfiles seccion2">
    {% for funcionario in funcionarios2 %}
    <div class="perfil">
        <img src="{{ MEDIA_URL }}{{ funcionario.foto }}" />
        <h3>{{ funcionario.cargo }}</h3>
        <div class="nombre">{{ funcionario.nombre_completo }}</div>
    </div>
    {% endfor %}
</div>
<hr />
<div class="contenedor-perfiles seccion3">
    {% for funcionario in funcionarios3 %}
    <div class="perfil">
        <img src="{{ MEDIA_URL }}{{ funcionario.foto }}" />
        <h3>{{ funcionario.cargo }}</h3>
        <div class="nombre">{{ funcionario.nombre_completo }}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}