{% extends "base_generic.html" %}
{% load static %}

{% block estilos_propios %}
<link rel="stylesheet" href="{% static 'css/estilos_institucional.css' %}">
{% endblock %}

{% block contenido %}
<h1 class="titulo-principal-contenido">VICEMINISTERIO DE COMERCIO INTERNO</h1>
<h2 class="insti-sub">VISIÓN ESTRATEGICA</h2>
<div class="vision-estrategica">
    {% for texto in textos %}    
    <div class="seccion-texto">
        <h2>{{ texto.titulo }}</h2>
        <p>{{ texto.contenido|linebreaks }}</p>
    </div>
    {% endfor %}
</div>


<h2 class="insti-sub">Organización</h2>
<div class="contenedor-perfiles seccion1">
    {% for funcionario in funcionarios1 %}
    <div class="perfil">
        <img src="{{ MEDIA_URL }}{{ funcionario.foto }}" />
        <h3>{{ funcionario.cargo }}</h3>
        <div class="nombre">{{ funcionario.nombre_completo }}</div>
    </div>
    {% endfor %}
</div>
<hr />
<div class="contenedor-perfiles seccion2">
    {% for funcionario in funcionarios2 %}
    <div class="perfil">
        <img src="{{ MEDIA_URL }}{{ funcionario.foto }}" />
        <h3>{{ funcionario.cargo }}</h3>
        <div class="nombre">{{ funcionario.nombre_completo }}</div>
    </div>
    {% endfor %}
</div>
<hr />
<div class="contenedor-perfiles seccion3">
    {% for funcionario in funcionarios3 %}
    <div class="perfil">
        <img src="{{ MEDIA_URL }}{{ funcionario.foto }}" />
        <h3>{{ funcionario.cargo }}</h3>
        <div class="nombre">{{ funcionario.nombre_completo }}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}